<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>Get Connected with us on Social Networks</span>
        </div>
        <div>
            <a href="#" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="#" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="#" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="me-4 text-reset"><i class="fa fa-github"></i></a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i>ShopHere</h6>
                    <p>ShopHere is the one step destination for your family's fashion needs</p>
                </div> 
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="{%url 'collections' %}" class="text-reset">Mobiles</a></p>
                    <p><a href="{%url 'collections' %}" class="text-reset">Laptops</a></p>
                    <p><a href="{%url 'collections' %}" class="text-reset">Fashions</a></p>
                    <p><a href="{%url 'collections' %}" class="text-reset">Home Appliances</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                    <p><a href="{% url 'home' %}" class="text-reset">Home</a></p>
                    <p><a href="{%url 'collections' %}" class="text-reset">Collections</a></p>
                    <p><a href="{%url 'cart' %}" class="text-reset">Cart</a></p>
                    <p><a href="{%url 'register' %}" class="text-reset">Register</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fa fa-home"></i>Senthil</p>
                    <p><i class="fa fa-envelope"></i>pandisenthil17@gmail.com</p>
                    <p><i class="fa fa-phone"></i>9363342646</p>

                </div>


            </div>
        </div>
    </section>
    <div class="text-center p-4">
        &copy; 2021 Copyright <a class="text-center fw-bold" href="https://senthilsp41.githu.io/Portfolio">senthil.in</a>
    </div>
</footer>